{#
  Zoomerplanning - Logiciel de gestion des ressources humaines
  Copyright (C) 2025 RevivalSoft
  
  Ce programme est un logiciel libre ; vous pouvez le redistribuer et/ou
  le modifier selon les termes de la Licence Publique Générale GNU publiée
  par la Free Software Foundation Version 3.
  
  Ce programme est distribué dans l'espoir qu'il sera utile,
  mais SANS AUCUNE GARANTIE ; sans même la garantie implicite de
  COMMERCIALISATION ou D’ADÉQUATION À UN BUT PARTICULIER. Voir la
  Licence Publique Générale GNU pour plus de détails.
  
  Vous devriez avoir reçu une copie de la Licence Publique Générale GNU
  avec ce programme ; si ce n'est pas le cas, voir
  https://www.gnu.org/licenses/
#}

{% extends 'base_entry.html.twig' %}

{% block title %}Notification reçue
{% endblock %}

{% block body %}
	<div class="container mt-5">
		<div class="card mx-auto shadow" style="max-width: 600px;">
			<div class="card-header">Notification de ZoomerPlanning</div>
			<div
				class="card-body">
				{# Ne plus afficher directement le message #}
				<p class="text-muted">Vous avez reçu une nouvelle notification.</p>

				<p class="text-muted text-end">
					Envoyée le
					{{ notification.createdAt|date('d/m/Y à H:i') }}
				</p>

				{% if notifDestId is defined %}
					<a href="{{ path('notification_marquer_vue', { notifDestId: notifDestId, token: notification.accessToken }) }}" class="btn btn-primary mt-3">
						Lire le message
					</a>
				{% endif %}
			</div>
		</div>
	</div>
{% endblock %}
