{#
  Zoomerplanning - Logiciel de gestion des ressources humaines
  Copyright (C) 2025 RevivalSoft
  
  Ce programme est un logiciel libre ; vous pouvez le redistribuer et/ou
  le modifier selon les termes de la Licence Publique Générale GNU publiée
  par la Free Software Foundation Version 3.
  
  Ce programme est distribué dans l'espoir qu'il sera utile,
  mais SANS AUCUNE GARANTIE ; sans même la garantie implicite de
  COMMERCIALISATION ou D’ADÉQUATION À UN BUT PARTICULIER. Voir la
  Licence Publique Générale GNU pour plus de détails.
  
  Vous devriez avoir reçu une copie de la Licence Publique Générale GNU
  avec ce programme ; si ce n'est pas le cas, voir
  https://www.gnu.org/licenses/
#}

{% extends '@EasyAdmin/page/content.html.twig' %}

{% block content_title %}
	<div style="text-align:center">
		ADMINISTRATION
	</div>
	<hr>
{% endblock %}

{% block main %}

	<div style="text-align:center">
		<h3 style="text-align:center;font-weight:bold">Changement du mot de passe</h3>

		<p>
			{{ form_start(changePasswordForm) }}
			{{ form_row(changePasswordForm.plainPassword) }}
		</p>

		<button class="btn btn-primary">Changer le mot de passe</button>
		{{ form_end(changePasswordForm) }}


	</div>
{% endblock %}
