{% extends 'base_user.html.twig' %}

{% block title %}ZoomerPlanning
{% endblock %}

{% block body %}

	<h3 style="text-align:center;font-weight:bold">ZoomerPlanning</h1>

	<div style="display: flex; justify-content: center; align-items: center; height: 60vh;">
		<img src="{{ asset('images/planning.jpg') }}" alt="planning">
	</div>

{% endblock %}
