<nav class="navbar navbar-expand-lg bg-dark navbar-dark no-print">
	<div class="container-fluid">

		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse" id="navbarNav">
			<ul class="navbar-nav">

				<li class="nav-item">
					<a class="nav-link" href="/admin">Retour</a>
				</li>
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
						Plannings
					</a>
					<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
						<li>
							<a class="dropdown-item" href="/choix/groupe">Sélection groupe</a>
						</li>

						<hr class="dropdown-divider">

						<li>
							<a class="dropdown-item" href="/journal">Journal</a>
						</li>
						<li>
							<a class="dropdown-item" href="/journal_archives">Archives</a>
						</li>

						<hr class="dropdown-divider">

						<li>
							<a class="dropdown-item" href="/choix/groupe/activite">Calculs horaires</a>
						</li>

						<li>
							<a class="dropdown-item" href="/calculs/plages">Calculs plages</a>
						</li>

					</ul>
				</li>

			</ul>
		</div>
	</div>
</nav>
